body {
    font-family: Roboto;
    background-image: url(../images/imgbackground.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgb(0, 100, 0);
    border-bottom: solid black 3px;
    padding: 5px;

    .navUl__Lista {
        display: flex;
        font-size: 30px;
        list-style-type: none;
        justify-content: end;
        align-items: end;
        transform: translateY(16px);

        li {
            margin: 0px 10px;
            &:hover {
                font-size: 28px;
                border-radius: 20px;
                border: solid 3px white;
                padding: 2px 5px;
            }
        }
    }
}

a:hover { 
    color:#ffff
}

main {
    background-color: rgba(24, 21, 21, 0.712);
    color: white;
}

.seccionPrincipal {
    align-items: center;
    justify-items: center;
    padding-top: 20px;

    img {
        margin-right: 10px;
        width: 98%;
    }
}

.row {
    --bs-gutter-x: 0;
}

.seccionPrincipal__presentacion {
    text-align: center;
    font-size: 22px;
    max-width: 45%;

    p {
        margin: 20px auto;
    }
}

.animate__rubberBand {
    animation-delay: 1s;
}

.seccionPrincipal__recomendaciones {
    text-align: center;
    font-size: 40px;
    margin: 25px auto 20px auto;
}

.animate__fadeInDown {
    animation-delay: 3s;
}

@mixin caja ($h: 600px, $w: 300px, $ta: start) {
    height: $h;
    width: $w;
    text-align: $ta;
}

.artista {
    font-size: 30px;
    background-color: rgb(0, 134, 34);
    margin: 10px 30px 30px 30px;
    @include caja (680px, 350px, center);
    border: solid black 3px;
    border-radius: 20px;
    transition: all 0.5s;

    h3 {
        margin: 5px auto 25px auto;
    }

    img {
        margin: -20px 0 0 0;
    }

    iframe {
        width: 90%;
        height: 300px;
        padding: 10px;
    }

    &:hover {
        padding: 2px 3px;
        background-color: rgb(50, 50, 255);
    }
}

.seccion_descargar {   
    /*fondo de DJ*/
    /* background-image: url(https://wallpaperaccess.com/full/782147.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(to right, green, greenyellow, green);
    text-align: center;
    font-size: 25px;
    border: solid black 2px;

    .textoBordeNegro {
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
        @extend .textoBordeNegro
    }

    a {
        color: rgb(0, 197, 49);
        @extend .textoBordeNegro
    }
}

.mobileNavUl_Lista {
    display: none;
}